.boxmudic {
    display: flex;
}
.search {
    width: 100%;
    padding-left: 32px;
    overflow: hidden;
}
.title {
    margin: 20px 0 10px 0;
    font-size: 1.6em;
    font-weight: bold;
}
.content_genres {
    display: flex;
    flex-wrap: wrap;
}
.genres {
    width: 220px;
    border-radius: 10px;
    height: 220px;
    margin: 10px;
    background-color: red;
    text-transform: capitalize;
    padding: 20px 0 0 15px;
}
