.container {
    width: 215px;
    background-color: #29292960;
    border-radius: 3px;
    padding: 15px 15px 20px;
    margin: 0 24px 24px 0;
    grid-row: 1;
    .image {
        > img {
            width: 100%;
            object-fit: cover;
            display: flex;
            border-radius: 5px;
            justify-content: center;
        }
    }
    > h3 {
        margin-top: 15px;
        overflow: hidden !important;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    > p {
        font-weight: 600;
        margin-top: 5px;
    }
}
.hover {
    transition: 150ms ease-in-out;
    border-radius: 5px;
    &:hover {
        transition: 150ms ease-in-out;
        background-color: #a6a6a626;
    }
}

.TopResults {
    flex: 0 0 48%;
    max-width: 48%;
}

@media screen and (max-width: 1200px) and (min-width: 1130px) {
    .container {
        width: 16.5vw;
    }
}

@media screen and (max-width: 1200px) and (min-width: 920px) {
    .container {
        width: 19.5vw;
        margin-right: 20px;
    }
}

@media screen and (max-width: 920px) {
    .container {
        width: 27vw;
        margin-right: 5px;
    }
}
