.container {
    width: 225px;
    background-color: #29292960;
    border-radius: 3px;
    padding: 15px 15px 20px;
    margin-right: 25px;
    transition: 150ms ease-in-out;
    &:hover {
        transition: 150ms ease-in-out;
        background-color: #a6a6a626;
    }
    .image {
        width: 195px;
        height: 195px;
        > img {
            width: 100%;
            object-fit: cover;
            display: flex;
            border-radius: 5px;
            justify-content: center;
        }
    }
    > h3 {
        margin-top: 15px;
        overflow: hidden !important;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    > p {
        font-weight: 600;
        margin-top: 5px;
    }
}
